.button[display="primary"] {
  padding: 10px 20px;
  background-color: var(--venti-color-primary);
  border: var(--btn-primary-border-thickness) solid var(--btn-primary-border-color);
  border-radius: var(--btn-primary-rounded);
  color: var(--btn-primary-text-color);
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.button[display="secondary"] {
  padding: 10px 20px;
  background-color: var(--venti-color-secondary);
  border: var(--btn-secondary-border-thickness) solid var(--btn-secondary-border-color);
  border-radius: var(--btn-secondary-rounded);
  color: var(--btn-secondary-text-color);
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.button[display="primary"]:hover {
  filter: brightness(0.8); /* slightly darker shade of primary */
}

.button[display="secondary"]:hover {
  filter: brightness(0.8); /* slightly darker shade of primary */
}
